@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

main {
  animation: changeBg 3s infinite alternate linear;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@keyframes changeBg{
  0%{
    background: rgba(62, 161, 219, 1);
  }
  25%{
    background: rgba(72, 130, 222, 1);
  }
  50%{
    background: rgba(79, 99, 228, 1);
  }
  75%{
    background: rgba(86, 70, 232, 1);
  }
  100%{
    background: rgba(93, 52, 236, 1);
  }
}
form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

.mainCard {
  width: 90vw;
  height: 75vh;
  border-radius: 25px;
  background-color:white;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.dark{
  background-color: #1b1b1b !important;
  
}
.note{
  width: 70%;
}
.title {
  display: flex;
  height: 80px;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.rayo{
  filter: drop-shadow(1px 1px 3px #FDFD96);
    -webkit-filter: drop-shadow(1px 1px 3px #FDFD96);
    -moz-filter: drop-shadow(1px 1px 3px #FDFD96);
  transition: all 1s;
}
.rayo:hover{
  transform: rotateZ(360deg)
}
/* The switch - the box around the slider */
.switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  left: 155px;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303136;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f4f4f5;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #f4f4f5;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.inputForm {
  border: none;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-size: 1.3rem;
}

.inputForm::placeholder {
  padding: 0px;
}

.btnCreate {
  padding: 4px 12px;
  animation: changeBt 1s infinite alternate linear;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}
@keyframes changeBt{
  0%{
    background: rgba(255, 161, 200, 1);
  }
  25%{
    background: rgba(235, 130, 170, 1);
  }
  50%{
    background: rgba(215, 99, 150, 1);
  }
  75%{
    background: rgba(195, 70, 120, 1);
  }
  100%{
    background: rgba(175, 70, 100, 1);
  }
}
.datos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.datos img{
  height: 40px;
  margin: 20px;
  
}
.datos span{
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.redesDark{
  color: whitesmoke;
  filter: drop-shadow(1px 1px 7px #fff);
    -webkit-filter: drop-shadow(1px 1px 7px #fff);
    -moz-filter: drop-shadow(1px 1px 7px #fff);
}
.cardsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 60vh;
  height: 60vh;
}

.card {
  width: 90%;
  padding: 15px;
  box-shadow: 0px 2px 10px rgba(71, 71, 71, 0.16);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 7px 0px;
  position: relative;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

.task {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .5px;
}

.icon {
  cursor: pointer;
  font-size: 18px;
}

.icon:hover {
  color: rgb(0, 140, 0);
}

.completeIcon {
  color: rgb(0, 120, 0);
}

.trashIcon:hover {
  color: #f00;
}

.deleteConfirmationPop {
  position: relative;
  background-color: rgba(255, 255, 255);
  z-index: 99;
  width: 100%;
  top: -100px;
  left: 0;
}
.deleteSpace {
  position: relative;
  width: 30%;
}

.noTasks {
  font-size: 48px;
}
@media screen and (max-width: 1100px) {
  .mainCard {
    width: 90vw;
    height: 95vh;
    border-radius: 25px;
    background-color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
.note{
  width: 100%;
}
}
@media screen and (max-width: 500px){
  .switch {
      left: 80px;
    }
}